@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&family=Margarine&family=Pacifico&family=Rubik+Bubbles&family=Rubik+Moonrocks&family=Spicy+Rice&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  /* background: #212529; */
  background: linear-gradient(#232526, #414345);
  /* font-family: "Rubik Moonrocks", sans-serif; */
  font-family: "Spicy Rice", serif;
}
