@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Chewy&family=Foldit:wght@100..900&family=Honk&family=Love+Ya+Like+A+Sister&family=Margarine&family=Pacifico&family=Protest+Guerrilla&family=Rubik+Bubbles&family=Rubik+Glitch+Pop&family=Rubik+Moonrocks&family=Rye&family=Shojumaru&family=Sofia&family=Spicy+Rice&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: rgb(15 23 42);

  font-family: "Spicy Rice", serif;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
